<li class='clearfix record icons' id="<%= dom_id(gallery) -%>">
  <div class='clearfix'>
    <% if gallery.children.present? %>
      <span class="icon expanded" %>"></span>
    <% else %>
      <span class="icon"></span>
    <% end %>

    <span class='title <%= 'toggle' if gallery.children.present? %>'>
      <%= gallery.title %>
      <span class="preview">
        (<%= link_to t('.item_count', :count => gallery.items.count), refinery.portfolio_admin_gallery_items_path(gallery), :rel => 'items' %>)
      </span>
    </span>

    <span class='actions'>
      <%= link_to refinery_icon_tag("image_add.png"), refinery.new_portfolio_admin_gallery_item_path(gallery),
          :title => t('.add_image') %>

      <%= link_to refinery_icon_tag("application_go.png"), refinery.portfolio_gallery_path(gallery),
          :title => t('.view_live_html'),
          :target => "_blank" %>

      <%= link_to refinery_icon_tag('page_add.png'),
          refinery.new_portfolio_admin_gallery_path(:parent_id => gallery.id),
          :title => t('.new_child') %>

      <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_portfolio_admin_gallery_path(gallery),
           :title => t('.edit') %>

      <%= link_to refinery_icon_tag("delete.png"), refinery.portfolio_admin_gallery_path(gallery),
          :class => "cancel confirm-delete",
          :title => t('.delete'),
          :confirm => t('message', :scope => 'refinery.admin.delete', :title => gallery.title),
          :method => :delete %>
    </span>
  </div>
  <ul class='nested' data-ajax-content="<%= refinery.children_portfolio_admin_gallery_path(gallery.id) %>">
    <%= render(:partial => 'gallery', :collection => gallery.children) %>
  </ul>
</li>
