<div id='actions'>
  <h2><%= t('.actions') %></h2>
  <ul>
    <li>
      <%= link_to t('.create_new_portfolio_entry'), new_admin_portfolio_entry_url, :class => "add_icon" %>
    </li>
   <% if PortfolioEntry.count > 1 %>
    <li>
      <%= link_to t('.reorder_portfolio'), "", :id => "reorder_action", :class => "reorder_icon" %>
      <%= link_to t('.reorder_portfolio_done'), "", :id => "reorder_action_done", :style => "display: none;", :class => "reorder_icon" %>
    </li>
   <% end %>
  </ul>
</div>
<div id='records' class='tree'>
  <% if @portfolio_entries.any? %>
    <h2><%= t('.portfolio') %></h2>
    <ul id='sortable_list'>
      <%= render :partial => 'sortable_list' %>
    </ul>
    <% else %>
      <p>
        <strong>
          <%=t('.no_portfolio_entries_yet')%>
        </strong>
      </p>
  <% end %>
</div>
<%= render :partial => "/shared/admin/make_sortable",
           :locals => { :tree => ::Refinery::Portfolio.multi_level? } if PortfolioEntry.count > 1 %>