<% content_for :body_content_title do %>
  <%= @gallery.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @gallery.title %>
    </p>
  </section>
  <section>
    <h1>Body</h1>
    <p>
      <%=raw @gallery.body %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="galleries">
      <% @galleries.each do |gallery| %>
        <li>
          <%= link_to gallery.title, refinery.portfolio_gallery_path(gallery) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/refinery/content_page" %>
