<% 
	branch = if entry === @portfolio_entries.first
		"branch_start"
	elsif entry === @portfolio_entries.last or (entry.parent and entry === entry.parent.children.last)
		"branch_end"
	end 
-%>
<li class='clearfix record<%= " #{branch}" %>' id="<%= dom_id(entry) -%>">
  <div class='clearfix'>
    <span class='actions'>
			<% url = entry.parent ? portfolio_project_url(entry.parent, entry) : portfolio_url(entry)  %>
    	<%= link_to image_tag('refinery/icons/application_go.png'), url, :target => "_blank",
                 :title => "View this entry live <br/><em>(opens in a new window)</em>" %>
    	<%= link_to image_tag('refinery/icons/application_edit.png'), edit_admin_portfolio_entry_path(entry),
                 :title => "Edit this entry" %>
    	<%= link_to image_tag('refinery/icons/delete.png'), admin_portfolio_entry_path(entry),
                          :confirm => "Are you sure you want to delete '#{entry.title}'?", :class => "cancel",
                          :method => :delete,
                          :title => "Remove this entry forever" %>
    </span>
    <%=h entry.title %>
  </div>
	<ul<%= " class='empty'" if entry.children.empty? %>>
	<% entry.children.each do |child| %>
		<%= render :partial => 'list', :locals => {:entry => child} %>
	<% end %>
			<span class='spacing'>&nbsp;</span>
	</ul>
</li>