<% content_for :title, @portfolio_entry.title %>

<% content_for :body_content_title do %>
  <span><%= @master_entry.title %></span>
<% end %>

<% content_for :body_content_left do %>
  <h2><%= t('portfolio.description') %></h2>
  <%=  raw @portfolio_entry.body %><br/>
  <h2><%=  t('portfolio.overview') %></h2>
  <% @portfolio_entry.images.each_with_index do |image, index| -%>
    <% if @portfolio_entry.images.count == 1 %>
      <a href="<%= image.thumbnail('600x512').url %>" rel="prettyPhoto" ><%= image_fu image, '100x100' %></a>
    <% else %>
      <a href="<%= image.thumbnail('600x512').url %>" rel="prettyPhoto[<%= @portfolio_entry.title  %>]" ><%= image_fu image, '100x100' %></a>
    <% end %> 
  <% end %>
<% end %>
  
<% content_for :body_content_right do -%>
  <h2><%=  t('portfolio.my_creations')%></h2>
  <ul>
    <% @portfolio_entries.each do | portfolio | -%>
      <li class="clearfix"><%= link_to portfolio.title, portfolio_path(portfolio)  %></li>
    <% end -%>
  </ul>
<% end -%>

<div class='portfolio'>
  <%= render :partial => "/shared/content_page" %>
</div>

<% content_for :javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :javascript_libraries, javascript_include_tag('jquery.prettyPhoto.js') %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag('prettyPhoto') %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
    });
  </script>
<% end %>
