<% content_for :title, "#{@portfolio_entry.title} - " %>
<% content_for :head, stylesheet_link_tag('portfolio') %>
<div id='body_content' class='clearfix portfolio'>
	<div id='body_content_left' class='clearfix'>
		<h1 class='clearfix'>
		  <span><%= @master_entry.title %></span>
			<%= select :portfolio_entry, :to_param, @master_entry.children.collect{|entry| [entry.title, entry.to_param] } %>
		</h1>

		<%= render :partial => "main_image" %>
	</div>
	<div id='body_content_right' class='clearfix'>
		<h2><%= @portfolio_entry.title %></h2>
		<ul id='portfolio_images'>
			<% (images = @portfolio_entry.images).each do |image| %>
				<li class='<%= cycle("odd", "even") %>'>
					<% className = (selected = images.index(image) == params[:image_id].to_i) ? "selected" : "pale" %>
				  <%= link_to	image_fu(image, :portfolio_thumb),
				      portfolio_image_url(@master_entry, @portfolio_entry, images.index(image)), :class => className %>
				</li>
			<% end %>
		</ul>
	</div>
</div>
<% content_for :head do %>
	<%# remove these javascript_include_tag calls if they are included in your layout.
	%>
	<%= javascript_include_tag 'jquery' %>
	<script type='text/javascript'>
		$(document).ready(function(){
			$("ul#portfolio_images li a.pale img").fadeTo(0, 0.3);

			$('#portfolio_entry_to_param').change(function() {
				window.location = "<%= portfolio_project_url(@master_entry, nil) %>" + this.value;
			});

      var clicked_on = null;
			$("ul#portfolio_images li a").click(function(event) {
			  if (!$(this).hasClass('selected')) {
			    clicked_on = $(this);
  			  $.get($(this).attr('href'), function(data, textStatus) {
  			    if (textStatus == "success") {
  			      $('#portfolio_main_image').before(data).remove();

  			      $('ul#portfolio_images li a.selected').removeClass('selected').addClass('pale');

  			      clicked_on.removeClass('pale').addClass('selected');
  			      clicked_on.find('img').fadeTo(0, 1);

  			      $("ul#portfolio_images li a.pale img").fadeTo(0, 0.3);
  		      }
  			  });
  		  }

        return false;
			});
		});
	</script>
<% end %>