<ul>
  <% if ::Refinery::Portfolio::Admin::ItemsController.searchable? %>
    <li>
      <%= render :partial => "/refinery/admin/search",
                  :locals => {
                    :url => refinery.portfolio_admin_items_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.back_to_galleries'), refinery.portfolio_admin_galleries_path, :class => 'back_icon' %>
  </li>

  <li>
    <%= link_to t('.create_new'), refinery.new_portfolio_admin_item_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && @items.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Images"),
                 refinery.portfolio_admin_items_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Images"),
                 refinery.portfolio_admin_items_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>

